/* ============================
       CABEÇALHO
       ============================ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.logo img {
  width: 70px;
  height: 50px;
}

/* ============================
       MENU HAMBÚRGUER SEM SCRIPT
       (checkbox hack)
       ============================ */

/* Checkbox escondido */
#menu-toggle {
  display: none;
}

/* Ícone hambúrguer */
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
  /* aparece só no celular */
  user-select: none;
}

/* Menu em desktop */
nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

nav a:hover {
  color: #d60000;
}

@media (max-width: 900px) {

  /* Ícone do menu aparece */
  .hamburger {
    display: block;
  }

  /* Menu some no mobile */
  nav {
    display: block;
    position: absolute;
    top: 65px;
    right: 20px;
    background: white;
    width: 180px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.3s;
  }

  nav a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  /* Quando o checkbox está marcado, o menu aparece */
  #menu-toggle:checked~nav {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

/* Conteúdo Principal */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.card-login {
  width: 350px;
  height: 300px;
  margin: 80px auto;
  padding: 28px;
  border-radius: 12px;
  border: 2px solid #000;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .08);
  background: #fff;
}

.card-login h2 {
  margin: 0 0 16px;
  font-weight: 700;
  color: #c92a2a;
}

.card-login label {
  display: block;
  font-size: 13px;
  margin: 10px 0 6px;
}

.card-login input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.card-login button {
  width: 100%;
  margin-top: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 0;
  background: #c92a2a;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.card-login .small {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  text-align: center;
}

#brasao {
  height: 100px;
  margin: 20px;
}

footer {
  width: 100%;
}

.footer-area {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.endereco {
  flex: 1;
  text-align: center;
}

.endereco p {
  margin: 2px 0;
}

#direitos {
  font-size: 13px;
}